
#main{
    padding: 50px;
	border: 2px solid green;
	justify-content: center;
}
#cajaprendasindex{	
	padding: 100px;
	border: 2px solid blue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#seguircomprando{
	border: 2px solid blue;
	justify-content: end;
}

#formcompra{
	border: 2px solid blueviolet;
	width: 50%;
}

.u-size-100{
	width: 100px;
	text-align: center;
}

.main-form{
	max-width: 500px;
	margin: 0 auto;
}

.panel-info>.panel-heading{
	color: #ffffff;
    background-color: #e95420;
}
.main-login{
	max-width: 300px;
	margin: 0 auto;
}

.footer{
	margin-top: 100px;
  
}
.d-flex{

}
.container{
	margin: 5px;
}

.col-md-4{
	
}